@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps')
/* This is a comment */
/* Review the CSS syntax:

selectors {
property: value;
property: value;
}

*/

/* Type selector */

p {
  font-size: 16px;
  line-height: 1.5em;
}

figcaption {
  /* front-weight: normal;
  font-size: 0.7em
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; or you can ADD all of this below */
  font: normal 0.75em/1.5em 'Elsie Swash Caps';
  color: #777;
  text-align: right;
}
